* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 50px;
  width: 100%;
}

body.repl {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0;
}

nav {
  align-items: center;
  background: #333;
  display: flex;
  flex: none;
  height: 50px;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.active {
  color: #39ffaa;
}

sup {
  font-size: 11px;
  line-height: 11px;
  vertical-align: top;
}

sup a {
  text-decoration: none;
}

h1 {
  background: #333;
  box-sizing: border-box;
  color: #39ffaa;
  flex: none;
  font-size: 60px;
  height: 70px;
  line-height: 1em;
  padding: 0 10px;
  text-align: center;
  width: 100%;
}

.subtitle {
  background: #333;
  color: #fff;
  font-size: 20px;
  height: 55px;
  margin-top: 0;
  max-width: none;
  text-align: center;
  width: 100%;
}

.badges {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h2 {
  font-size: 40px;
  line-height: 1em;
  margin: 30px auto 0;
  padding: 0 10px;
  text-align: center;
}

h3 {
  font-size: 25px;
  line-height: 1.25em;
  margin: 30px auto 0;
  padding: 0 10px;
  text-align: center;
}

p {
  margin: 20px auto 0;
  padding: 0 10px;
  max-width: 650px;
  width: max-content;
}

#features,
#non-goals {
  margin-top: 40px;
}

#features + ul,
#non-goals + ul {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
  width: 100%;
}

pre {
  display: flex;
  margin: 20px 10px;
  overflow: auto;
  justify-content: center;
}

code {
  background: #eee;
  color: #333;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  padding: 0 5px;
}

h3 code {
  font-size: inherit;
}

pre code {
  background: #3f3f3f;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 20px;
}

pre + p {
  margin-top: 0;
  padding: 0;
  text-align: center;
}

strong {
  font-weight: bold;
}

#features::before {
  content: '🚀 ';
}

#non-goals::before {
  content: '❌ ';
}

#features + ul,
#non-goals + ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

#features + ul li {
  box-sizing: border-box;
  flex: none;
  margin-bottom: 20px;
  width: 33.33%;
}

#features + ul li:nth-child(-n + 3) {
  margin-bottom: 40px;
}

#features + ul li:nth-child(3n-2) {
  padding-right: 20px;
}

#features + ul li:nth-child(3n-1) {
  padding: 0 10px;
}

#features + ul li:nth-child(3n) {
  padding-left: 20px;
}

#features + ul li strong:first-of-type {
  display: block;
  font-size: 24px;
  line-height: 1em;
  margin-bottom: 20px;
}

#non-goals + ul li {
  box-sizing: border-box;
  flex: none;
  margin-bottom: 20px;
  width: 25%;
}

#non-goals + ul li:not(:last-child) {
  padding-right: 20px;
}

#non-goals + ul li strong:first-of-type {
  display: block;
}

.size-comparison {
  margin: 0 auto 75px;
  margin-top: 30px;
  max-width: 1024px;
  padding: 0 10px;
  width: 100%;
}

.chart {
  align-items: flex-end;
  border: 1px solid #888;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
}

.library {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0 30px;
  position: relative;
  justify-content: center;
  z-index: 0;
}

.library-size {
  flex: 1;
  position: relative;
  width: auto;
}

.bundle-size {
  flex: 1;
  margin-left: 10px;
  position: relative;
  width: auto;
}

.size-label {
  position: absolute;
  text-align: center;
  bottom: 100%;
  width: 100%;
}

.library-size::after {
  content: 'library';
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
}

.bundle-size::after {
  content: '+ todo list';
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
}

.legend {
  position: absolute;
  right: 10px;
  top: 10px;
}

.box {
  display: inline-block;
  height: 10px;
  width: 10px;
}

#resources ~ ul li {
  list-style-type: disc;
}

#resources ~ ul {
  margin: 20px auto 0;
  max-width: 100vw;
  padding: 0 10px 0 30px;
  width: max-content;
}

#resources ~ ul ul {
  margin-left: 20px;
}

.repl-dropdown {
  left: 10px;
  position: absolute;
  top: 10px;
  width: 150px;
  z-index: 1;
}

.repl-main {
  display: flex;
  flex: 1;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
}

.repl-main textarea,
.CodeMirror {
  width: 50%;
}

.repl-main iframe {
  width: 50%;
}

.CodeMirror {
  flex: 1;
  font-size: 13.5px;
  height: 100% !important;
}

.CodeMirror-linenumber {
  color: #fff !important;
}

.CodeMirror pre {
  justify-content: unset;
}

@media (max-width: 768px) {
  #features + ul li strong:first-of-type {
    margin-bottom: 10px;
  }

  p {
    max-width: 100%;
  }

  .CodeMirror {
    font-size: 12px;
  }

  .repl-dropdown {
    max-width: 150px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .badges + pre code {
    font-size: 2.25vw;
    line-height: 1.25em;
    padding: 5px;
  }

  #features + ul li:nth-child(odd),
  #non-goals + ul li:nth-child(odd) {
    padding: 0 5px 0 0;
    width: 50%;
  }

  #features + ul li:nth-child(even),
  #non-goals + ul li:nth-child(even) {
    padding: 0 0 0 5px;
    width: 50%;
  }

  .library {
    margin: 0 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 50px;
    height: 55px;
  }

  .subtitle {
    font-size: 16px;
    height: 30px;
  }

  nav {
    justify-content: center;
  }

  nav a {
    margin-right: 0;
  }

  nav a:not(:last-child)::after {
    color: #fff;
    content: '|';
    margin: 0 7.5px;
  }

  .badges + pre {
    justify-content: flex-start;
  }

  .badges + pre code {
    font-size: 10px;
    line-height: 1.25em;
    padding: 5px;
  }

  h3 {
    font-size: 20px;
  }

  #features + ul li,
  #non-goals + ul li {
    width: 100%;
    padding: 0 !important;
  }

  .size-comparison {
    font-size: 12px;
  }

  .library {
    margin: 0 5px;
  }

  .repl-dropdown {
    top: 65px;
  }
}
